<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="generator.mapper.RoadInfoMapper">

    <resultMap id="BaseResultMap" type="generator..RoadInfo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="adress" column="adress" jdbcType="VARCHAR"/>
            <result property="concaveVex" column="concave_vex" jdbcType="INTEGER"/>
            <result property="ponding" column="ponding" jdbcType="INTEGER"/>
            <result property="creckle" column="creckle" jdbcType="INTEGER"/>
            <result property="bearing" column="bearing" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,adress,concave_vex,
        ponding,creckle,bearing,
        create_time
    </sql>
</mapper>
